@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sigmar+One&display=swap');

h1 {
  font-size: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  max-width: 1024px;
  font-family: 'Sigmar One', cursive;
  line-height: 80%;

}

#comboWord {
color: ;
}

#subHead {
  display: flex;
  font-size: 125px;
}